.r-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  .re-icon {
    color: #ebebeb;
    pointer-events: none;
    transition: color 0.2s ease;

    // maybe you didn't want to use this margin
    margin-top: 3.3px;
  }
  &.checked .re-icon {
    color: #9e41f1;
  }
  &.disabled {
    color: #dfdfdf;
    cursor: not-allowed;
    .re-icon {
      color: currentcolor;
    }
  }
  &:hover:not(.disabled) {
    .re-icon {
      color: #9e41f1;
    }
  }
  &__content {
    margin-left: 4px;
  }
}

.r-radio-group {
  .r-radio:not(:last-child) {
    margin-right: 12px;
  }
  &.vertical {
    .r-radio {
      display: flex;
      &:not(:first-child) {
        margin-right: 0;
        margin-top: 8px;
      }
    }
  }
}
