.re-icon {
  color: var(--color);
  font-size: var(--size);
  position: relative;
  cursor: pointer;
  &.use-gradient {
    color: transparent !important;
    background-image: var(--gradient);
    background-clip: text;
  }
}
