.todolist {
  position: relative;
  &__title--center {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__input {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__input--box {
    flex: 1;
    margin-right: 8px;
  }
  &__ul {
    margin-top: 16px;
    li {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      border: 1px solid #eee;
      margin-bottom: 8px;
      justify-content: space-between;
      :global(.r-button:last-child) {
        margin-left: 4px;
      }
      &.finished {
        & span {
          color: gray;
          text-decoration: line-through;
        }
      }
    }
  }
}
